        /* Estilo do offcanvas inferior */
        #MonitorSerial {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            color: #2991ff;
            background-color: #202020;
            border-top: 1px solid #dee2e6;
            padding: 5px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
            transform: translateY(100%);
            transition: transform 0.3s ease-in-out;
            z-index: 1045;
        }

        #MonitorSerial.active {
            transform: translateY(0);
        }

        /* Estilo dos elementos */
        #MonitorSerial button,
        #MonitorSerial select,
        #MonitorSerial input,
        #MonitorSerial textarea {
            margin-bottom: 10px;
            font-size: 14px;
        }

        #MonitorSerial textarea {
            width: 50%;
            float: left;
            resize: none;
            color: rgb(0, 255, 0);
        }

        #MonitorSerial #status {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }

        #MonitorSerial button {
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #MonitorSerial button:hover {
            background-color: #0056b3;
        }
        #MonitorSerial button:active {
            background-color: #002f64;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            max-width: 100px; /* Ajuste conforme necessário */
            margin: 10px auto;
            float: left;

        }
        
        .left-side, .right-side {
            display: flex;
            flex-direction: column;
            gap: 5px; /* Espaçamento entre os pares de botões */
            margin: 5%;
        }
        
        .button-pair {
            display: flex;
            gap: 3px; /* Espaçamento entre os dois botões do par */
        }
        
        
