.drawer {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.drawer-content {
    flex: 1;
    overflow: auto;
}
.drawer-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    min-width: 300px;
    height: 100%;
    background: #f4f4f4;
    color: #333;
    transform: translateX(100%);
    transition: transform 0.3s, width 0.3s;
    overflow: hidden;
    z-index: 10;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.drawer-side.open {
    transform: translateX(0);
}
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 5;
}
.drawer-overlay.show {
    display: block;
}

#webgl-frame {
    width: 100%;
    height: calc(100vh - 60px); /* Adjusted to account for toolbar height */
    border: none;
}

.drawer button{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}
.drawer button img{
    width: 30px;
    height: 30px;
}
.drawer button:active{
    background-color: rgb(96, 96, 255);
    transform: scale(1.1);
    transition: 0.03s;
}

.drawer button:hover{
    background-color: rgb(59, 59, 255);
}